.container_product   {
    display: flex;
    flex-direction: column;
    
    margin-top: 50px;
}

.filter-sort {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.product {
    text-align: center;
}

img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.price {
    font-size: 16px;
    color: #888;
}